


    <!-- ======= About Section ======= -->
<section id="organization-form" class="organization-form">
  <p>
     organization-form works!
  </p>
  <form class="text-center border border-light p-5">
     <!-- Name -->
  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
                
</form>

      
</section><!-- End About Section -->





